<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RahulShettyAcademy">
  <test name="AutomationPractice-2">
  <groups>
  <run>
  <include name="Smoke"/>
  </run>
  </groups>
    <classes>
  
      <class name="AutomationProject.academy.AutomationPractise_2Test"/>
      <methods>
      <exclude name="validateSimpleDropDown"/>
      </methods>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
